.homepage {
    background-color: #e0e0e0;
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.sidebar-col {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 1000;
}

.toggle-sidebar-btn {
    margin-bottom: 20px;
}

.section {
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px; /* Add space below each section */
}

.section .category-header {
    background-color: #343a40;
    color: white;
    padding: 10px; /* Add padding inside header */
}

.section .popular-products-header {
    background-color: #343a40;
    color: white;
    padding: 10px; /* Add padding inside header */
}

.subcategory-section {
    margin-bottom: 20px; /* Add space below each subcategory section */
}


.product-card {
    border: none;
    overflow: hidden;
}

.product-image {
    height: 200px;
    object-fit: cover; /* Ensures the image covers the card area without distortion */
    width: 100%; /* Ensures the image takes up the full width of the card */
}

.subcategory-section {
    margin-bottom: 20px;
}

.product-card .card-body {
    padding: 10px;
}


/* .product-card {
    margin-bottom: 15px;
}

.product-card img {
    height: 150px;
    object-fit: cover;
} */

.footer {
    background-color: #343a40;
    color: white;
    padding: 20px; /* Add padding inside footer */
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.social-media-links {
    list-style: none;
    padding: 0;
}

.social-media-links li {
    margin-bottom: 10px;
}

.centered-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Adjust spacing for rows and containers */
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding-left: 15px;
    padding-right: 15px;
}

/* Add spacing around the containers */
.container {
    padding-left: 15px;
    padding-right: 15px;
}


.content-col {
    transition: margin-left 0.3s ease-in-out;
}

@media (min-width: 768px) {
    .sidebar-open .content-col {
        margin-left: 275px; /* This should match the width of your open sidebar */
    }
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

/* Adjust specific container margins for larger screens */
@media (min-width: 768px) {
    .container-fluid {
        padding-left: 30px;
        padding-right: 30px;
    }
}
