.products-details-page{
    background-color: #e0e0e0;
    font-family: "Fira Sans Extra Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.main-content {
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;
    margin-top: 60px;
  }
  
  .sidebar-open .main-content {
    margin-left: 250px; /* Adjust based on your sidebar width */
  }
  
  .product-details-page {
    padding: 20px;
  }
  
  .product-details img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .related-products-title {
    margin-top: 40px;
    font-weight: bold;
  }
  
  .related-products .card {
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .related-products .card:hover {
    transform: translateY(-10px);
  }

  .product-price {
    font-size: 1.8rem;
    color: #ff6633;
    font-weight: bold;
}
  