.navbar {
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color:black;
  z-index: 6;
}

.navbar-dark .navbar-brand {
  color: #ffc107;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #ffc107;
}


/* Styling for the search bar */
.search-control {
  margin-left: auto;
  margin-right: auto;
  width: 100%; /* Adjust width as needed */
  max-width: 800px; /* Ensure it doesn't get too wide */
}

.search-bar .form-control {
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 40px;
  font-size: 1rem;
}

.search-bar .btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px 10px;
  background-color: #ffc107;
  border: none;
}

.search-control .search-button {
  color: #000;
}


.search-control .search-button:hover {
  background: #5cb85c;
  outline-color: #5cb85c;
  color: #000;
}


.dropdown-filter .dropdown-menu {
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 0.25rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .search-bar {
    width: 70%;
    max-width: 300px;
    
  }
  .search-control {
    margin-bottom: 0.5rem;
  }
}
