.card-title {
    font-weight: bold;
  }

  .analytics-reporting-page {
    background-color: #E0E0E0;
    min-height: 100vh; /* Ensure the background color covers the full height */ /* Adjust based on your navbar height */
  }
  
  .card-text {
    font-size: 1.5rem;
  }

  .pie-chart {
    width: 4cm;
    height: 4cm;
    margin: 1cm;
  }
  
  .text-center {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .card-title,
    .card-text {
      text-align: center;
    }
  }
  