
.card-title {
    font-weight: bold;
  }

  .card {
    margin-bottom: 1.5rem; /* Adjust spacing between cards */
  }

  /* AnalyticsReporting.css */
.analytics-reporting-page {
  background-color: #E0E0E0;
  min-height: 100vh; /* Ensure the background color covers the full height */
  padding: 0 1rem; /* Optional: Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  padding-top: 56px;
}

  
  .card-text {
    font-size: 1.5rem;
  }

  .card-body {
    overflow: hidden; /* Prevent content from overflowing */
    text-align: left; /* Ensure text alignment fits your design */
  }

  .pie-chart {
    width: 4cm;
    height: 4cm;
    margin: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .card-title,
    .card-text {
      text-align: center;
    }
  }
  