.content-management-page {
  background-color: #e0e0e0;
}

.section {
  margin-bottom: 30px;
}

.faqs-table th, .faqs-table td {
  vertical-align: middle;
  gap: 20px;
}

.fa-edit, .fa-trash-alt {
  margin-right: 10px;
}

.card-header {
  display: flex;
  justify-content: flex-end;
}
