.products-management-page {
    background-color: #f8f9fa;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-input {
    padding-right: 2.5rem; /* Adjust to make room for the icon */
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 0.5rem; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 767.98px) { /* Smartphones */
    .search-input {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Tablets */
    .search-input {
        width: 50%;
    }
}

@media (min-width: 992px) { /* Desktops */
    .search-input {
        width: 50%;
    }
}
