.products-management-page {
  background-color: #E0E0E0;
  min-height: 100vh; /* Ensure the background color covers the full height */
  padding: 0 1rem; /* Optional: Adjust padding as needed */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  padding-top: 56px;
}

.container-fluid, .row {
    overflow: hidden;
}


.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card {
    position: relative;
}

.delete-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #dc3545; /* Red color for delete icon */
    font-size: 1.25rem;
}

.delete-icon:hover {
    color: #c82333; /* Darker red for hover */
}


.search-container {
    position: relative;
    width: 100%;
}

.search-input {
    padding-right: 2.5rem; /* Adjust to make room for the icon */
    width: 100%;
}

.search-icon {
    position: absolute;
    right: 0.5rem; /* Adjust as needed */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.card-body {
    position: relative;
}

.btn-notify {
    position: absolute;
    bottom: 10px;
    right: 10px;
}


/* Responsive styles */
@media (max-width: 767.98px) { /* Smartphones */
    .search-input {
        width: 75%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Tablets */
    .search-input {
        width: 50%;
    }
}

@media (min-width: 992px) { /* Desktops */
    .search-input {
        width: 50%;
    }
}
