/* PurchasersManagement.css */

/* General page styles */
.purchasers-management-page {
    background-color: #E0E0E0;
    min-height: 100vh; /* Ensure the background color covers the full height */
    padding: 0 1rem; /* Optional: Adjust padding as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevent scrolling on the entire page */
}

.container-fluid {
    flex: 1;
    overflow-y: auto; /* Allow scrolling within this container */
}

/* Table styles */
.purchasers-table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.purchasers-table thead {
    background-color: #ffffff;
    color: #fff;
}

.purchasers-table tbody tr {
    transition: all 0.2s;
}

.purchasers-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Modal styles */
.modal-header {
    background-color: #343a40;
    color: #fff;
}

.modal-title {
    font-weight: bold;
}

.modal-body {
    padding: 20px;
    background-color: #E0E0E0;
}

.modal-footer {
    background-color: #343a40;
    color: #fff;
}

.purchaser-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.purchaser-detail-item {
    flex: 1 1 45%;
    background-color: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.purchaser-detail-item strong {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
}

.order-container {
    margin-top: 20px;
  }
  
  .sub-table {
    margin-top: 10px;
    background-color: #f8f9fa;
  }
  
  .sub-table th, .sub-table td {
    text-align: center  ;
  }
  
  .table-responsive {
    overflow-x: auto;
  }
  
  @media (max-width: 576px) {
    .order-container table {
      width: 100%;
    }
  }
  