/* Tooltip Styling */
.chartjs-tooltip {
    font-size: 14px;
    padding: 10px;
    word-wrap: break-word;
    max-width: 250px; /* Ensure the tooltip width is enough */
    white-space: normal;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
  }
  
  .category-analytics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 200px;
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .category-info2 {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .custom-legend {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  
  .legend-color {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 50%;
  }
  
  .legend-label {
    font-size: 14px;
    margin-left: 5px;
  }
  
  @media (max-width: 768px) {
    .category-analytics {
      flex-direction: column;
      align-items: center;
    }
  }
  