.category-analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  width: 125px; /* Adjust as needed */
}

.chart-container canvas {
  width: 100% !important;
  height: auto !important;
}

.category-info,
.ad-info,
.percentage-info {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 14px; /* Adjust as needed */
  flex-direction: column;
}

.category-info {
  font-size: 16px;
  /* white-space: nowrap;  Prevent text from wrapping */
  overflow: hidden;     /* Hide the overflowing text */
  text-overflow: ellipsis;  /* Show ellipsis when text overflows */
  max-width: 100%;      /* Ensure it doesn't extend beyond the container */
  text-align: center;   /* Optional: align the text to the center */
}

.ad-info,
.percentage-info {
  font-size: 14px;
}

@media (max-width: 768px) {
  .category-analytics {
    flex-direction: column;
    align-items: center;
  }
}
