.category-analytics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 150px; /* Adjust as needed */
  }
  
  .chart-container canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .chart-label {
    text-align: center;
    margin-top: 5px;
    font-size: 14px; /* Adjust as needed */
  }
  
  @media (max-width: 768px) {
    .category-analytics {
      flex-direction: column;
      align-items: center;
    }
  }
  