.sidebar {
  background-color: #333;
  color: #fff;
  min-height: 100vh;
  padding: 1rem;
  transition: transform 0.3s, width 0.3s;
  position: fixed;
  top: 64px; /* Adjust this value to the height of your top navbar */
  left: 0;
  z-index: 4;
  overflow-y: auto;
  font-family: "Fira Sans Extra Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
  width:fit-content;
}

.sidebar.collapsed {
  width: 60px;
  transform: translateX(-60px);
}

.sidebar.open {
  width: 200px;
  transform: translateX(0);
}

.sidebar .nav-link,
.sidebar .dropdown-item {
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 2.0rem;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  margin-bottom: 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active,
.sidebar .dropdown-item:hover,
.sidebar .dropdown-item.active {
  background-color: #ffc107;
  color: #000;
}

.sidebar .nav-link.previous {
  background-color: #ffc107;
  color: #000;
}

.sidebar .icon {
  margin-right: 10px;
}

.sidebar.collapsed .nav-link {
  justify-content: center;
}

.sidebar.collapsed .nav-link .icon {
  margin-right: 0;
}

.toggle-button {
  background-color: #333;
  color: #333;
  position: fixed;
  top: 70px; /* Adjust this value as needed */
  left: 10px;
  z-index: 5;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, left 0.3s;
  border-radius: 50%;
}



.toggle-button.open {
  left: 180px; /* Width of the open sidebar + 10px */
  background-color: #333;
  color: #ffc107;
}

.toggle-button.collapsed {
  left: 10px;
  background-color: #333;
  color: #ffc107;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
    top: 56px;
  }

  .sidebar.collapsed {
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .toggle-button {
    top: 60px;
    width: 40px;
    height: 40px;
  }

  .toggle-button.open {
    left: 180px;
  }
}

.notification-link {
  transition: transform 0.3s ease-in-out;
}

.notification-link.animate {
  animation: zoomInOut 0.5s ease-in-out;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
