/* TopSellingProducts.css */

.card {
    display: flex;
    flex-direction: column;
  }
  
  .card-body {
    flex: 1;
  }
  
  .card-title {
    font-size: 1.25rem;
  }
  
  .card-subtitle {
    font-size: 1rem;
  }
  
  .card-text {
    font-size: 0.875rem;
  }
  