.card {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 0.5rem; */
}

.analytics-card-body {
  flex: 1;
  overflow: hidden;
  height: fit-content;
  padding: 0; /* Remove padding to allow left alignment */
  margin-top: 0.5rem;
  text-align: left; /* Ensure text is aligned to the left */
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
}

.card-subtitle {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.875rem;
  margin: 0;
}


.analytics-price-container {
  display: flex;
  align-items: baseline;
  /* margin-top: 0.5rem; */
  justify-content: flex-start; /* Ensure the price is aligned to the left */
}

.analytics-ad-price-label {
  font-style: italic;
  font-size: 0.75rem;
  margin-right: 0.25rem;
}

.analytics-price-decimal {
  font-size: 0.75rem;
  vertical-align: super;
}


.analytics-card-img-top {
  height: 150px; /* Adjust the height to fit your design */
  object-fit: contain; /* Ensure the image covers the card area without distortion */
  border-bottom: 1px solid #ddd; /* Optional: Add a border for a cleaner look */
}
